/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
  color: #333;
}

/* Header */
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #ffffff;
  /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);*/
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #ff4d4d;
  cursor: pointer;
  background-image: linear-gradient(
        79deg, 
        #E43939,
        #581D60
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.nav-links a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  background-image: linear-gradient(
        79deg, 
        #E43939,
        #581D60
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  
}

.nav-links a:hover {
  text-decoration: underline;
}

/* Hero Section */
.hero {
  text-align: center;
  padding: 80px 20px;
  background-image: url('images/confetti-bg-3.png'); /*Replace with your confetti background */
  background-size: cover;
  background-position: center;
  color: #fff;
  padding-bottom: 100px;
}

.hero h1 {
  font-size: 92px;
  margin-bottom: 20px;
  color: #000;
  text-align: center;
  font-weight: 300;
  line-height: 105%;
  padding-bottom: 20px;
  width: 900px;
  overflow-wrap: break-word;
  margin: auto;
  background-image: linear-gradient(
        79deg, 
        #E43939,
        #581D60
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.hero p {
  font-size: 24px;
  width: 1000px;
  overflow-wrap: break-word;
  margin:auto;
  font-weight: 300;
  margin-bottom: 30px;
  color: #000;
}

.hero-buttons button {
  margin: 10px;
  font-size: 16px;
  background-color: #ff4d4d;
  color: #fff;
  cursor: pointer;
  background-image: linear-gradient(to right, #E43939, #581D60); 
  
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 8px;
  text-align: center;
  transition: transform 0.3s ease;
}

/* Discover Events */
.discover-events {
  padding: 30px 20px;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
}
.discover-events h2 {
  font-size: 50px;
  color: #000;
  text-align: center;
}

.discover-events p {
  font-size: 18px;
  margin-bottom: 30px;
  color: #000;
  font-weight: 300;
  text-align: center;
}
.event-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
  flex-wrap: wrap;
}

.event-card {
  width: 300px;
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.event-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 10px;
}

.event-card h3 {
  font-size: 20px;
  margin-bottom: 5px;
}

.event-card p {
  font-size: 12px;
  margin-bottom: 15px;
  text-align: center;
}

.event-card button {
  padding: 10px 20px;
  background-color: #ff4d4d;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-image: linear-gradient(to right, #E43939, #581D60); 
  font-size: 1em;
  cursor: pointer;
  text-align: center;
  transition: transform 0.3s ease;
}

/* View More Button */
.view-more {
  margin-top: 30px;
}

.view-more button {
  padding: 12px 12px;
  background-color: #581D60;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  background-image: linear-gradient(to right, #E43939, #581D60); 

  font-size: 1em;
  cursor: pointer;
  text-align: center;
  transition: transform 0.3s ease;
}

/* Footer */

.footer-spacer{
  /* display: flex;
  justify-content: space-between; */
  align-items: center;
  background-image: url('images/footer-bg.png');
  background-size: cover;
  background-position: top;
  margin-top: 40px;
  /* background-color: #581D60; */
}
.main-footer {
  color: #fff;
  padding: 150px 20px;
  padding-bottom: 60px;
  width:auto;
  display: flex;
  justify-content: space-between;
}

.footer-about{
  margin-left:40px;
}
.footer-social {
  margin-bottom: 30px;
  margin-left: 150px;
  margin-right: auto;
}

.footer-about p{
  font-size: 12px;
  font-weight: 300;
  width:100%;
  max-width: 600px;
}
.footer-social ul {
  list-style: none;
}

.footer-social li {
  margin-bottom: 10px;
}

.footer-social a {
  color: #ff4d4d;
  text-decoration: none;
}

.footer-bottom {
  text-align: center;
  font-size: 14px;
  color: #aaa;
  padding-bottom: 50px;
}